<ion-list no-lines color="popover">
  <!-- <ion-item color="popover" *ngIf="selectedTheme == 'dark-theme'"><ion-label (click)="toggletheme()"> <ion-icon ios="ios-contrast" md="md-contrast"></ion-icon> &nbsp;&nbsp; Lightmode</ion-label></ion-item> -->
  <!-- <ion-item color="popover" *ngIf="selectedTheme == 'light-theme'"><ion-label (click)="toggletheme()"> <ion-icon ios="ios-contrast" md="md-contrast"></ion-icon> &nbsp;&nbsp; Nightmode</ion-label></ion-item>   -->
  <ion-item color="popover"><ion-label (click)="EditProfile()"> <ion-icon ios="ios-contact" md="md-contact"></ion-icon> &nbsp;&nbsp; Edit Profile</ion-label></ion-item>
  <ion-item color="popover"><ion-label (click)="Notification()"> <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon> &nbsp;&nbsp; Set Notification</ion-label></ion-item>
  <ion-item color="popover"><ion-label (click)="ShareReport()"> <ion-icon ios="ios-share" md="md-share"></ion-icon> &nbsp;&nbsp; Share Report</ion-label></ion-item>
</ion-list>